################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RibbonMaker/bin/Debug
/RibbonMaker/obj/Debug
